// Abstract
@import "./abstract/mixins";
@import "./abstract/variables";
@import "./layouts/footer";
// Components

// Section
// About Us <~~ Miri 
@import "./layouts/aboutUs";
// Contact Us  <~~ Miri 
@import "./layouts/contactUs";
// ==> Mora Sections
@import "./layouts/whyChooseUs";
@import "./layouts/portfolio";
// ==> Orne Sections
@import "./layouts/services";
// ==> Cele Sections
@import "./layouts/team";
@import "./layouts/testimonials";
@import "./components/slider";
@import "./components/cards";
// ==> Sofi Sections
@import "./layouts/header";
@import "./layouts/hero";
@import "./components/menumobile";
@import "./layouts/clients";

body {
    margin: 0;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

/* Estructura General */
.container {
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

/* Títulos iniciales */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    margin: 0 0 20px 0;
    padding: 0;
}
