// Abstract
@import "./abstract/mixins";
@import "./abstract/variables";

// Components

// Section
// ==> Mora Sections
@import "./layouts/whyChooseUs";
@import "./layouts/portfolio";
// ==> Cele Sections
@import "./layouts/team";
@import "./layouts/testimonials";
@import "./components/slider";
@import "./components/cards";


body {
    margin: 0;
    color: #444;
   font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

/* Estructura General */
.container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

/* Títulos iniciales */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    margin: 0 0 20px 0;
    padding: 0;
    
}
h2 {
    font-weight: 500; ///Añado weght a los titulos (Cele)
}