@import "./variables";
// ////////////////////////// Estilos de Botones
// ////////////////////////// Mixin del Boton con fondo y su hover
@mixin button-withBackground(
            $buttonBgColor,     //Color de fondo -elegir alguno de los q hay entre las variables de colores- 
            $buttonFontColor,   //Color de la letra 
            $fontSize,          //Tamaño de fuente
            $paddingButtonLR,    //Padding Left y Right
            $paddingButtonTB    //Padding Bottom y Top
            ) {
                border: none;
                border-radius: $radioButton;
                background-color: $buttonBgColor;
                box-sizing: $box-sizing;
                color: $buttonFontColor;
                padding: $paddingButtonTB $paddingButtonLR;
                font-size: $fontSize;
            }

@mixin button-hover-getTransparent($buttonFontColor) {
    &:hover {
        background-color: transparent;
        border: 2px solid $buttonFontColor;
        transition: all 0.3s linear;
    }
    
}
// //////////////////////////////////////////////////////
// ///////////////////////// Mixin del Boton transparente y su hover
@mixin button-transparent(
            $buttonFontColor,               //Color de la letra y del Borde
            $fontSize,                      //Tamaño de fuente
            $paddingButtonLR,               //Padding Left y Right
            $paddingButtonTB                //Padding Bottom y Top
            ) {
                border: 2px solid $buttonFontColor;
                border-radius: $radioButton;
                background-color: transparent;
                box-sizing: $box-sizing;
                color: $buttonFontColor;
                padding: $paddingButtonTB $paddingButtonLR;
                font-size: $fontSize;
            }

@mixin button-hover-getBackground($buttonBgColor) {
    &:hover {
        background-color: $buttonBgColor;
        border: none;
        transition: all 0.3s linear;
    }
    
}

// ////////////////////////////////////////// Break Points

@mixin breakpoint-mobile-1 {
    @media (min-width: 414px) {
        @content;
    }
}

@mixin breakpoint-tablet-2 {
    @media (min-width: 576px){
        @content;
    }
}

@mixin breakpoint-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin breakpoint-tablet-desktop-first {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin breakpoint-desktop-first {
    @media (max-width: 1200px) {
        @content;
    }
}

/*-----------------------------------
          ORNE MIXINS
-------------------------------------*/
@mixin h1 {
    color: $blackbold;
    display: flex;
    font-family: $title-font;
    font-size: 36px;
    font-weight: 500;
    justify-content: center;
    margin: 5px;
    text-align: center;
}
@mixin texto {
    color: $mediumgray;
    display: flex;
    font-size: 15px;
    font-family: $normal-font;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    margin-bottom: 0;
    padding: 0 0 60px;
    text-align: center;


/*-----------------------------------
          CELE MIXINS
-------------------------------------*/
// //////////////////////////////////////////////////////Cards
@mixin teamCards {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    overflow: hidden;
}
  
// //////////////////////////////////////////////////////Positions
@mixin flex($flex-direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;

}