@import "./variables";

// ////////////////////////// Estilos de Botones

// ////////////////////////// Mixin del Boton con fondo y su hover
@mixin button-withBackground(
            $buttonBgColor,     //Color de fondo -elegir alguno de los q hay entre las variables de colores- 
            $buttonFontColor,   //Color de la letra 
            $fontSize,          //Tamaño de fuente
            $paddingButtonLR    //Padding Left y Right
            $paddingButtonTB    //Padding Bottom y Top
            ) {
                border: none;
                border-radius: $radioButton;
                background-color: $buttonBgColor;
                box-sizing: $box-sizing;
                color: $buttonFontColor;
                padding: $paddingButtonTB $paddingButtonLR;
                font-size: $fontSize;
            }

@mixin button-hover-getTransparent($buttonFontColor) {
    &:hover {
        background-color: transparent;
        border: 2px solid $buttonFontColor;
        transition: all 0.3s linear;
    }
    
}
// //////////////////////////////////////////////////////

// ///////////////////////// Mixin del Boton transparente y su hover
@mixin button-transparent(
            $buttonFontColor,               //Color de la letra y del Borde
            $fontSize,                      //Tamaño de fuente
            $paddingButtonLR,               //Padding Left y Right
            $paddingButtonTB                //Padding Bottom y Top
            ) {
                border: 2px solid $buttonFontColor;
                border-radius: $radioButton;
                background-color: transparent;
                box-sizing: $box-sizing;
                color: $buttonFontColor;
                padding: $paddingButtonTB $paddingButtonLR;
                font-size: $fontSize;
            }

@mixin button-hover-getBackground($buttonBgColor) {
    &:hover {
        background-color: $buttonBgColor;
        border: none;
        transition: all 0.3s linear;
    }
    
}

// ////////////////////////////////////////// Break Points

/* 
    Dejar algo de espacio aca para cuando escribamos los breakpoints

*/

// //////////////////////////////////////////////////////
