/* Fonts */
$normal-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$title-h2: 48px;
$title-h3: 36px;
$title-h4: 24px;

$font-xs: 18px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;

$title-footer: 34px;


// Padding & Margin


$radioButton: 50px;

// Colors
$balckbolder : #111111;
$blackbold: #283d50;
$blacklight: #444444;
$mediumgray #556877;
$lightgray: #dddddd;
$white: #ffffff;
$darkblue: #004289;
$blue: #007bff;
$lightblue: #ecf5ff;



//Otros
$box-sizing: border-box;
