/* Fonts */
$normal-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$title-h2: 48px;
$title-h3: 36px;
$title-h4: 24px;
$title-h5: 22px;
$font-xl: 18px;
$font-m: 16px;
$font-sm: 15px;
$font-s: 14px;
$font-xs: 12px;
$title-footer: 34px;

// Padding & Margin
$padding-1: 20px;
$padding-m: 10px;
$padding-l:32px;
$padding-s: 5px;
$margin-1: 15px;
$margin-s: 10px;
$margin-m: 5px;
$margin-l:20px;

$radioButton: 50px;

// Colors
$balckbolder : #111111;
$blackbold: #283d50;
$blacklight: #444444;
$mediumgray: #556877;
$lightgray: #dddddd;
$white: #ffffff;
$darkblue: #004289;
$footerblue: #004a99;
$footerdown: #00428a;
$blue: #007bff;
$lightblue: #ecf5ff;
$otherblue: #007bff;
$bluehover: #0067d5;
$middleblue: #1445b3;


//Otros
$box-sizing: border-box;
$digitHeight: 1em;
$small-screen: 770px;
$widescreen: 1200px;
$in-between: 990px;