
/*------------------------------------------------
               TEAM CARDS
------------------------------------------------*/

.team-card {
    
    margin: 15px 15px;
    

    &:hover .team-bg {
        opacity: 0.5;
        transition: all ease-in-out 0.3s;
    }

    &:hover .team-description-container {
        transition: all ease-in-out 0.3s;
        transform: translateY(0);
        opacity: 1;
    }
}

.team-img-container {
    @include teamCards;
    position: relative;

    img {
        height: 280px; 
    }

}

.team-description-container {
    @include flex(column, center, center);
    @include teamCards;
    position: absolute;
    color: $white;
    transform: translateY(20px);
    opacity: 0;
    top: 0;

    h4 {
        font-size: $normal-font;
        padding: 5px;
    }

    p {
        font-size: 13px;
        padding: 0px 0 20px 0;
    }

    a {
        color: $white;
        font-size: $normal-font;
        padding: 0 5px;
        transition: all ease-in-out 0.3s;

        &:hover {
            color: $lightgray;
            transition: all ease-in-out 0.3s;
        }
    }    

}

.team-bg {
    @include teamCards;
    background-color: $darkblue;
    opacity: 0;
    position: absolute;
    transition: all ease-in-out 0.3s;
    top: 0;

}
