@charset "UTF-8";
/* Fonts */
/* Fonts */
/*-----------------------------------Why Choose Us-comienzo-----*/
/*-----------------------------------Why Choose Us-termina-----*/
/*-----------------------------------Portfolio comienzo-----*/
#portafolio {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  margin: 60px 0;
  /* CARDS */ }
  #portafolio .containerbox {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%; }
    @media (min-width: 320px) {
      #portafolio .containerbox {
        max-width: 414px; } }
    @media (min-width: 768px) {
      #portafolio .containerbox {
        max-width: 768px; } }
    @media (min-width: 1024px) {
      #portafolio .containerbox {
        max-width: 1140px; } }
  #portafolio .headerbox h3 {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center; }
  #portafolio .ptabs {
    text-align: center;
    margin: 5px 0 35px 0;
    width: 100%; }
    #portafolio .ptabs span {
      color: #007bff;
      font-size: 12px;
      display: inline-block;
      margin: 15px;
      padding: 6px 15px;
      text-transform: uppercase;
      cursor: pointer; }
      #portafolio .ptabs span:first-child {
        background-color: #007bff;
        border-radius: 50px;
        color: #ffffff; }
      #portafolio .ptabs span:hover {
        background-color: #007bff;
        border-radius: 50px;
        color: #ffffff;
        transition: all 0.3s ease-in-out; }
  #portafolio .pcards-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center; }
    #portafolio .pcards-container .pcard-item {
      background: #003166;
      border-radius: 6px;
      height: 250px;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px; }
      #portafolio .pcards-container .pcard-item img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      #portafolio .pcards-container .pcard-item:hover img {
        opacity: 0.4;
        transition: 0.3s; }
      #portafolio .pcards-container .pcard-item:hover .pcard-info {
        opacity: 1; }
  #portafolio .pcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0; }
  #portafolio .pcard-info h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1px;
    margin: 14px;
    padding-bottom: 0; }
    #portafolio .pcard-info h4 a {
      color: #ffffff;
      text-decoration: none;
      transition: 0.5s; }
      #portafolio .pcard-info h4 a:hover {
        color: #007bff; }
  #portafolio .pcard-info p {
    color: #e2effe;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  #portafolio .pcard-info .plink-details,
  #portafolio .pcard-info .plink-preview {
    background: #007bff;
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    line-height: 1;
    margin: 10px 4px 0 4px;
    text-align: center;
    width: 36px;
    cursor: pointer; }
    #portafolio .pcard-info .plink-details:hover,
    #portafolio .pcard-info .plink-preview:hover {
      background: #3395ff; }
  #portafolio .plinks {
    display: block; }
  #portafolio .pcard-info .plink-details i,
  #portafolio .pcard-info .plink-preview i {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    vertical-align: middle; }

/* Termina contenedor principal => Portfolio */
/* Portafolio Responsive */
@media (min-width: 320px) {
  #portafolio .pcards-container .pcard-item {
    max-width: 100%;
    margin: 0 0 30px 0; } }

@media (min-width: 768px) {
  #portafolio .pcards-container .pcard-item {
    margin: 0 15px 30px 15px;
    max-width: 46%; } }

@media (min-width: 1024px) {
  #portafolio .pcards-container .pcard-item {
    margin: 0 14px 30px 14px;
    max-width: 30.71%; } }

/*-----------------------------------Portfolio-termina-----*/
body {
  margin: 0;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

/* Estructura General */
.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%; }

/* Títulos iniciales */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  margin: 0 0 20px 0;
  padding: 0; }
