@import "../abstract/mixins";
@import "../abstract/variables";

.clients-container{
    align-items: center;
    background: $lightblue;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1) ;
    display: flex;
    flex-direction: column;
    width: 100%; 
    .info-clients{
        text-align: center;
        font-family: $title-font;
        color: $blackbold;
        h3{
            font-size:$title-h3;
            font-weight: 500;
        }
        p{
            font-size: $font-m ;
        }
    }
    .Logos-clients{
        @include breakpoint-tablet-desktop-first{
            flex-direction: column;
            width: 100%;
        }
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        width: 80%;
        
        .clients{
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid #d6eaff;
            border-right: 1px solid #d6eaff;
            padding: 45px;
            @include breakpoint-tablet-desktop-first{
                width: 100%;
            }
            width: 25%;
            
        img{
            max-width: 100%;
            border-style: none;
            transition: all 0.4s ease-in-out;
        }
        img:hover{
            transform: scale(1.2);
        }
    }

    }
}


