@import "../abstract/mixins";
@import "../abstract/variables";
body {
    margin: 0;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #004a99;
    width: 100%;
}
h1{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}

ul{
    list-style: none;
}
p{
    line-height: 26px;
}
.Container1{
    @include Containers;
}
.WAYNER {
    @include descripciones;
    width: 23%;
    margin-right: 30px;
}
.titulo{
    @include titulo;
}
.USEFUL-LINKS {
    @include descripciones;
    width: 15%;
     .links {
        color:white;
        text-decoration: none;
        line-height: 35px;
}
ul{
    padding: 0;
}
}
.CONTACT-US {
    @include descripciones;
    width: 250px;
    margin-right: 30px;
    p{
        margin: 0;
    }
    .div-redes {
        margin: 25px 0 25px;
        }
}
.redes{
    @include footer-redes;
}
.OUR-NEWSLETTER {
    @include descripciones;
    width: 17%;
}   
.Container2 {
    @include Containers;
    height: 35px;
    background-color: $footerdown;
    position: relative;
}
.COPYRIGHT {
    @include descripciones
}    
form {
    display: flex;
}
.email {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    font-family: $normal-font;
}
.subscribe {
    background: $otherblue;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-family: $normal-font;
}

.iconos {
    @include iconos 
}
