@import "../abstract/mixins";
@import "../abstract/variables";

body {
    margin: 0;
}
.Container1 {
    background-color: #004a99;
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
}
p {
    color: #ecf5ff;
    font-family: $normal-font;
    font-size: 14px;
    line-height: 24px;
    padding: 0px;
}
h1{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.titulo{
    @include titulo;
}
ul {
    list-style: none;
    padding: 0;
}
.WAYNE {
    padding: 15px;
}
.USEFUL-LINKS {
    @include descripciones;
    padding-left: 15px;
     .links {
        color:white;
        line-height: 35px;
        text-decoration: none;
            }
}

.CONTACT-US {
    @include descripciones;
    padding-left: 15px;
    p{
        margin: 0;
    }
    .div-redes {
        margin: 25px 0 25px;
        }
    }        
footer{
        background-color: #004a99;
        display: flex;
        flex-direction: column;
        width: 100%;
}
.iconos {
    @include iconos 
}
.OUR-NEWSLETTER {
    @include descripciones;
    margin-left: 15px;
}
form {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
        .email {
            border: 0;
            font-family: $normal-font;
            padding: 7px 8px;
            margin: 0;
            width: 60%;
        }
        .subscribe {
            background: $otherblue;
            border: 0;
            color: white;
            cursor: pointer;
            font-family: $normal-font;
            text-align: center;
            transition: 0.3s;
            padding: 7px 0;
            width: 30%;
        }       
    }
.Container2 {
    background-color: $footerdown;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 110px;
    position: relative;
    top: 15px;
    p{
        text-align: center;
    }
    .circle {
        background-color: $otherblue;
        border-radius: 50%;
        height: 45px;
        position: absolute;
        width: 45px;
    }
         .fa-chevron-up{
             color: white;
             left: 18px;  
             position: relative; 
             top: 15px;
    }
            .COPYRIGHT {
                  @include descripciones
} 
}

///////////////////////////////////////////
@include breakpoint-tablet-2 {
    @media (min-width: 576px){     

.WAYNE {
    padding-left: 40px; 
    padding-right: 20px; 
}
.USEFUL-LINKS {
    padding-left: 40px;   
}
.CONTACT-US {
    padding-left: 40px; 
}      
.OUR-NEWSLETTER{
    padding-left: 40px;
    margin: 0;
    padding-right: 40px;
    p {
        margin: 0 0 30px 0;
        padding: 0;
    }
    .email {
        width: 65%;
    }
}    
.redes {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.Container1 {
    padding: 60px 0 30px 0;
}
.Container2 {
    p{
    margin: 0;
    padding: 0;
    font-size: 13px;}
    .COPYRIGHT{
    margin: 25px;
    }
    .circle {
        width: 45px;
        height: 45px;
    }
}
form {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .email {
        border: 0;
        font-family: $normal-font;
        padding: 7px 8px;
        margin: -14px;
        width: 60%;
}
    .subscribe {
        background: $otherblue;
        border: 0;
        color: white;
        cursor: pointer;
        font-family: $normal-font;
        text-align: center;
        transition: 0.3s;
        padding: 7px 0;
        width: 48%;
}}

}}/*media*/

//////////////////////////////////////////////////
/*@include breakpoint-tablet-3 768 */
/*@include breakpoint-desktop-1 992*/
/////////////////////////////////////////////////
@include breakpoint-desktop { 
       @media (min-width: 1200px){
 /*media*/
body {
    margin: 0;
}
footer{
    background-color: #004a99;
    display: flex;
    flex-direction: column;
    width: 100%;
}
h1{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}
ul{
    list-style: none;
}
p{
    line-height: 26px;
}
.Container1{
    @include Containers;
}
.WAYNE {
    @include descripciones;
    width: 23%;
    margin-right: 30px;
}
.titulo{
    @include titulo;
}
.USEFUL-LINKS {
    @include descripciones;
    width: 15%;
     .links {
        color:white;
        line-height: 35px;
        text-decoration: none;
}}
ul{
    padding: 0;
}}
.CONTACT-US {
    @include descripciones;
    margin-right: 30px;
    width: 250px;
    p{
        margin: 0;
    }
    .div-redes {
        margin: 25px 0 25px;
        }
        .iconos {
            @include iconos 
        }
}
.redes{
    @include footer-redes;
    height: 30px;
}
.OUR-NEWSLETTER {
    @include descripciones;
    width: 17%;
}   
.Container2 {
    @include Containers;
    background-color: $footerdown;
    height: 35px;
    padding: 20px 0 50px 0;
    position: relative;
        p{
            margin: 0;
            padding: 0;
            font-size: 13px;
         }               
        .COPYRIGHT {
            @include descripciones
                   }
        .circle{
            width: 45px;
            height: 45px;
               }
            }
/*form {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}*/
.email {
    border: 0;
    font-family: $normal-font;
    padding: 6px 8px;
    width: 75%;
    margin: 0;
}
.subscribe {
    background: $otherblue;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: $normal-font;
    text-align: center;
    transition: 0.3s;
    padding: 6px 0;
    width: 35%;
}
}

//////////////////////////////////////////////////