#Testimonials {
    overflow: hidden;
    background-color: $lightblue; 
    position: relative;
   display: flex;
   align-content: center;
   flex-direction: column;   
   padding: 5% 2%;
    
figure {
    position: relative;
    width: 520%;
    margin: 0;
    left: 0;
    @include breakpoint-tablet-desktop-first {
        width: 500%;
    }
    }     
    }


#Testimonials img {
    float: left;
    width: 100%;
    border-radius: 50%;
    border-color: white;
    border-style: solid;  
    
}
.testimonialCard {
    width: 20%;
    float: left;
    box-sizing: $box-sizing;
    
}


.textContainer {
   width: 60%;
   margin: 20px;
   display: inline-block;
   p {
    font-style: italic;
    box-sizing: $box-sizing;
    text-align: justify;
   }
}
h2 {
    align-self: center;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    @include breakpoint-tablet-desktop-first {
        text-align: center;

}
}
.testimonials-cards-container{
    overflow: hidden;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

#Testimonials .img-Container {
    width: 17%;
    @include breakpoint-tablet-desktop-first {
        display: inline-block;
       }
    }

#Testimonials .testimonialCard {
    @include breakpoint-tablet-desktop-first {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
}
//text align center//