/* Fonts */
$normal-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$title-h2: 48px;
$title-h3: 36px;
$title-h4: 24px;
$title-h5: 22px;
$font-xl: 18px;
$font-m: 16px;
$font-sm: 15px;
$font-s: 14px;
$font-xs: 12px;
$title-footer: 34px;

// Border, Padding & Margin

$radioButton: 50px;

// Colors
$balckbolder : #111111;
$blackbold: #283d50;
$blacklight: #444444;
$mediumgray: #556877;
$lightgray: #dddddd;
$white: #ffffff;
$darkblue: #004289;
$blue: #007bff;
$lightblue: #ecf5ff;

//Otros
$box-sizing: border-box;
$digitHeight: 1em;